h1{
    font-size: 10wm;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    font-family: poppins;
    text-transform: uppercase;
}