body{
    overflow-x: hidden;
}

/* ================== types ================== */
#menuGerations{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #222;
    padding: 10px;
    box-sizing: border-box;
    
}

.itemMenuGem{
   
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.itemMenuGem a{
    height: 45px;
    width: auto;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    transition: .5s;
    letter-spacing: 0px;
    text-transform: capitalize;
    cursor: pointer;
}

.itemMenuGem:hover{
    border-color: red;
}

.focus{
    background-color: #fff;   
}

.focus a{
    color: #292929;
}





















































